.recruit-content {
  text-align: center;
}

.recruit-title {
  font-size: 1.6em;
  font-weight: 500;
  margin: 10px 0;
}

.image-wrapper img {
  margin: 10px 0;
}

.recruit-section {
  text-align: center;
  padding: 5% 10% 3% 10%;
}

.recruit-list {
  margin: 10px;
  /*list-style: none;*/
}