.media-box {
  border: 1.5px solid #ddd;
  box-shadow: 0 0.8px 0.8px rgba(0, 0, 0, 0.1);
  padding: 5%;
  margin: 3% 0;
}

.image-center {
  text-align: center;
}

.media-logo img {
  height: 30px;
}

.media-type {
  background-color: #e798b6;
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
  padding: 5px;
}

 a:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 768px) {
  img {
    max-width: 100%;
    height: auto;
  }
