.qa-content {
  background-image: url(../../image/index/qa/qa-bg-center.png);
  background-position: center;
  background-repeat: repeat-y;
  background-size:100%;
}

.qa-wrapper {
  padding: 5% 10%;
}

.qa-items {
  padding: 10px;
}

.qa-title {
  font-size: 1.4em;
  font-weight: 600;
}