a {
  color: #3a3a3a;
}

a:hover {
  color: #e798b6;
}

.btn {
  margin: 5px;
}

 .btn:hover {
  opacity: 0.8;
}

.btn-wrapper {
  padding: 3%;
  text-align: center;
}

.image-wrapper {
  padding-top: 30px;
  padding-bottom: 10px;
  text-align: center;
}

.img-circle {
  width: 140px;
  height: 140px;
}

hr {
  border-width: 1.5px;
}
