a {
  color: #3a3a3a;
}

a:hover {
  color: #e798b6;
}

.btn {
  margin: 5px;
}

 .btn:hover {
  opacity: 0.8;
}

.btn-wrapper {
  padding: 3%;
  text-align: center;
}

.image-wrapper {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.img-circle {
  width: 140px;
  height: 140px;
}

hr {
  border-width: 1.5px;
}

.text-center {
  text-align: center;
}

.text-shadow {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.subpage {
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  background-image: url(../../image/subpage/bg.png);
}

.subpage-header {
  height: 300px;
}

.subpage-title {
  margin-top: 100px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.subpage-subtitle {
  margin-bottom: 25px;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}
