footer {
  background-color: #ff99b9;
  border-color: #ff99b9;
  opacity: 0.9;
}

#footer {
  padding: 0;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}