#header {
  padding: 0 20px;
}

.navbar {
  background-color: #ff99b9;
  border-color: #ff99b9;
}

#header_logo{
  width: 200px;
  padding: 8px 0;
  float: left;
}

.header-concept {
  padding: 8px 20px;
  color: #fff;
  float: left;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-header {
  border-color: #fff;
}

#menu {
  padding: 0;
}

.nav-item {
  padding: 22px 10px;
  color: #fff;
  cursor: pointer;
}

.nav-item:hover > .menu-text {
  opacity: 0.8;
}

.entry-link {
  padding: 0 !important;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-right {
  padding-right: 100px;
  text-align: center;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #fff;
  opacity: 0.7;
}


@media (min-width: 768px) {
  #header {
    padding: 0 10px;
  }

  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .header-concept {
    font-size: 0.3em;
    line-height: 0.9em;
    padding: 4% 8px;
  }
}

@media screen and (min-width: 980px) {
  .header-concept {
    font-size: 0.8em;
    line-height: 1.2em;
  }
}


@media (max-width: 768px) {
  #header {
    padding: 0 10px;
  }

  #header_logo{
    width: 100px;
  }
  .navbar-brand {
    padding: 10px;
  }

  #navbar {
  border-top: 1px solid rgba(255,255,255,0.6);
  }

  .nav-item {
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }

  .header-concept {
    font-size: 0.3em;
    line-height: 0.9em;
    padding: 4% 8px;
  }

}
