.section {
  padding: 3% 8%;
}

.section-header {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

.content-title {
  font-size: 1.2em;
  font-weight: 400;
}

.content-subtitle {
  font-size: 2em;
  font-weight: 600;
}

.content-description {
  text-align: left;
}

@media only screen and (max-width: 768px) {
  .section-title {
    padding: 10% 0;
    height: auto;
    text-align: center;
  }
}