.carousel {
  height: 500px;
  margin-bottom: 60px;
}

.carousel-caption {
  z-index: 10;
}

.carousel .item {
  margin-top: 5%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.carousel .item1 {
  background-image: url(../image/main_01.png);
}

.carousel .item2 {
  background-image: url(../image/main_02.png);

}

.carousel .item3 {
  background-image: url(../image/main_03.png);
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

@font-face {
    font-family: 'GillSans';
    src: url('fonts/GillSans.ttc');

    font-family: 'FOT-TsukuGoPro-E';
    src: url('./fonts/FOT-TsukuGoPro-E.otf') format('opentype')
    font-weight: normal;
    font-style: normal;
}