footer {
  background-color: #e798b6;
}

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

code {
  font-size: 80%;
}

.footer-text {
  text-align: center;
  margin-top: 20px;
  color: #fff;
}