.navbar {
  background-color: #e798b6;
  border-color: #e798b6;
}

#header_logo{
  width: 200px;
  padding: 8px 0;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.navbar-header {
  border-color: #fff;
}

.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-wrapper .navbar .container {
  width: auto;
}

.navbar-right {
  padding-right: 100px;
  text-align: center;
}

.navbar-right > li {
  padding: 0 10px;
}

.navbar-inverse .navbar-toggle {
    border-color: #fff;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #fff;
  opacity: 0.7;
}


@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }

  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 768px) {
  #header_logo{
    width: 100px;
  }
}
