

.top-wrapper {
  margin-top: 100px;
}

.media-image-wrapper {
  padding-top: 5px;
  text-align: center;
}

.media-content {
  padding: 0 5%;
}

.media-box {
  height: 330px;
  border: 1.5px solid #ddd;
  box-shadow: 0 1.5px 1.5px rgba(0, 0, 0, 0.2);
  padding: 10px 10px;
}

.media-type {
  background-color: #e798b6;
  color: #fff;
  font-size: 10px;
  margin-left: 10px;
  padding: 5px;
}

.member-wrapper {
  background-image: url(../image/member_niori.png);
}

 a:hover {
  opacity: 0.7;
}

@media (-web-min-device-pixcel-ratio: 2),(min-resolution: 2dppx) {

}
