html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  margin-bottom: 60px;
  padding-bottom: 40px;
  color: #5a5a5a;
  font-family: "Gill Sans", "FOT-TsukuGoPro-E", sans-serif;
}

#wrapper {
  position: relative;
  width: 100%;
}

@font-face {
    font-family: 'Gill Sans';
    src: url('fonts/GillSans.ttc');

    font-family: 'FOT-TsukuGoPro-E';
    src: url('/fonts/FOT-TsukuGoPro-E.otf')
    font-weight: normal;
    font-style: normal;
}