.team-image-wrapper {
/*  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(./image/member-bg.png);

  {*/
background-image:url(./image/member-bg.png);
background-position:center top;
background-repeat:no-repeat;
-moz-background-size:cover;
background-size:cover;
/*}*/
}

.manmateam-content {
  margin-right: 10%;
  float: right;
  overflow: auto;
}

.content-img {
  margin-bottom: 20px;
}
