.team-wrapper {
  width: 100%;
  background: url(./image/member-bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  padding: 70px 0px;
  position: relative;
}

.manmateam-content {
  margin-right: 10%;
  float: right;
  overflow: auto;
}

.content-img {
  margin-bottom: 20px;
}