#about {
  background-color: #fff1e4;
}

.about-image-wrapper {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(./image/item-family.png);
}

@media only screen and (max-width: 640px) {
  img {
    max-width: 100%;
    height: auto;
  }
}