.carousel-caption {
  z-index: 0;
}

.carousel .item {
  height: 580px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}


.carousel .item1 {
  background-image: url(../../image/index/main/main-01.png);
}

.carousel .item2 {
  background-image: url(../../image/index/main/main-02.png);

}

.carousel .item3 {
  background-image: url(../../image/index/main/main-03.png);
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
}

@media (min-width: 768px) {
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }
}

@media (max-width: 768px) {
  .carousel .item {
    height: 460px;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .carousel .item1 {
    background-image: url(../../image/index/main/main-01@2x.png);
  }
  .carousel .item2 {
    background-image: url(../../image/index/main/main-02@2x.png);
  }
  .carousel .item3 {
    background-image: url(../../image/index/main/main-03@2x.png);
  }
}
