#team .manma-team-wrapper {
  padding: 80px 60px;
  background-image: url(../../image/index/team-bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#team .manma-team-content {
  right: 0;
}

@media (max-width: 568px) {
  #team .manma-team-wrapper {
    padding: 20px 10px;
  }
}
