#team .team-wrapper {
  padding: 5% 20%;
}

#team .team-content {
  right: 0;
}

.project-title {
  text-align: center;
}

.team-image {
  text-align: center;
  background-image: url(../../image/index/team-bg.png);
  background-position: center bottom 0px;
  background-repeat: no-repeat;
  background-size: cover;
}

.team-image-wrapper {
  text-align: center;
  width: 100%;
  height: auto;
}

@media (max-width: 568px) {
  #team .manma-team-wrapper {
    padding: 20px 10px;
  }
}
