a {
  color: #3a3a3a;
}

a:hover {
  color: #e798b6;
}

.btn {
  margin: 5px;
}

.btn, .btn:hover {
  background-color: #e798b6;
  border-color: #e798b6;
}

 .btn:hover {
  opacity: 0.8;
}

.btn-wrapper {
  padding: 3%;
  text-align: center;
}

.img-circle {
  width: 140px;
  height: 140px;
}

hr {
  border-color: #e798b6;
  border-width: 2.5px;
}
