.section {
  padding: 50px 0 40px;
}

.section .center-content {
  padding: 0 15%;
  text-align: center;
}

.section .center-content .content-item {
  padding: 0 8%;
}

.section-header {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("../../image/item/item-title.png");
}

.section-title {
  margin-bottom: 5px;
  color: #7d7d7d;
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.section-subtitle {
  margin-top: 0px;
  margin-bottom: 25px;
  color: #6c6d6d;
  font-size: 1em;
  font-weight: 400;
}

.content-title {
  color: #e798b6;
  font-weight: 1.2em;
  font-weight: 400;
}

.content-subtitle {
  color: #e798b6;
  font-size: 2em;
  font-weight: 600;
}

.content-description {
  text-align: left;
}
