.section {
  padding: 40px 0 10px;
}

.section .center-content {
  padding: 0 15%;
  text-align: center;
}

.section .center-content .content-item {
  padding: 0 8%;
}

.section {
  margin-bottom: 30px;
  text-align: center;
}

.section-header {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  background-image: url("../../image/item-title.png");
}

.section .section-title {
  margin-bottom: 5px;
  color: #e798b6;
  font-size: 2.4em;
  font-weight: 700;
  letter-spacing: 0.05em;
}

.section .section-subtitle {
  margin-bottom: 25px;
  color: #e798b6;
  font-size: 1em;
  font-weight: 400;
}

.section .content-title {
  color: #e798b6;
  font-weight: 1.2em;
  font-weight: 400;
}

.section .content-subtitle {
  color: #e798b6;
  font-size: 2em;
  font-weight: 600;
}
