.bg-color-yellow {
  background-color: #fff1e4;
}

.bg-color-white {
  background-color: #fff;
}

.header-color {
  background-color: #ff99b9;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.header nav ul li > a {
  color: #fff;
}

.header nav ul li > a:hover {
  color: #9e9e9e;
  background-color: transparent;
}

.header nav ul li > a.active {
  color: #dc5041;
}

.navbar-toggle {
  color: #ff99b9;
  background-color: #fff;
}

.btn-primary, .btn-primary:hover {
  color: #ff99b9;
  background-color: #fff;
  border-color: #fff;
}

.form-header {
  background-color: #ff99b9 !important;
}

@media (min-width: 768px) {
  .translucent-header {
    background-color: transparent;
    border-bottom: none;
    box-shadow: none;
  }

  .translucent-header a {
    color: #fff;
  }

  .btn, .btn:hover {
    color: #ff99b9;
    background-color: #fff;
    border-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
}

@media (max-width: 767px) {
  .header-inner {
    background-color: #ff99b9;
  }

  .navbar-collapse {
    box-shadow: none;
  }

  .btn, .btn:hover {
    color: #ff99b9;
    background-color: #fff;
    border-color: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
  }
