.recruit-content {
  text-align: center;
}

.recruit-images {
  margin: 0 10%;
}

.recruit-title {
  font-size: 1.6em;
  font-weight: 500;
  margin: 0 20px 0 0;
}

.image-wrapper img {
  margin: 10px 0;
}